$color-white: black;

@mixin flebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.container{
  height: 100vh;
  @include flebox;
}

.card{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  height: 45rem;
  width: 35rem;
  margin: 1.2rem;
  position: relative;
  cursor: pointer;
  // overflow: hidden;

      &:hover img{
        transform: scale(1.1);
      }
      & img{
        width: 100%;
        position: absolute;
        transition: 1s;
  }

  & .layer{
    text-align: center;
    position: relative;
    color: $color-white;
    letter-spacing: .05rem;

    & h1{
      font-size: 3rem;
      margin-top: 5rem;
    }

    & p{
      font-size: 1.5rem;
      padding: 1.8rem 5rem;
    }
    & a{
      text-decoration: none;
      font-size: 1.3rem;
      color: $color-white;

      &:hover{
        text-decoration: underline;
      }
    }

    & span{
      font-size: 1.2rem;
    }

  }
}